.mypage
  .mypage__profile
    .mypage__profile__detail
      .mypage__profile__detail__img
        = link_to user_path(current_user.id) do
          %img{:src => "/assets/member_photo_noimage_thumb.png", :class => "profile_img"}/
      .mypage__profile__detail__user
        .mypage__profile__detail__user__nickname
          ニックネーム:  
          =current_user.nickname
        .mypage__profile__detail__user__post
          記事数 : 
          = current_user.posts.length
        .mypage__profile__detail__user__like
          いいね：10
    .mypage__profile__post
      - @posts.each do |post|
        .mypage__profile__post__box
          .mypage__profile__post__box__img
            %img{:src => "/assets/member_photo_noimage_thumb.png", :class => "profile_img_box"}/
          .mypage__profile__post__box__text
            .mypage__profile__post__box__text__category
              カテゴリー : 
              =post.category.name
            .mypage__profile__post__box__text__post
              = link_to post_path(post.id) do
                タイトル    : 
                =post.title
            .mypage__profile__post__box__text__nickname
              %p.nickname 
                = post.user.nickname
              %p.date 
                = post.created_at.strftime("%Y年%m月%d日")
