.header
  .header__title
    = link_to "ShearSpace", "/", id:"top"
  .header__search
    = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "search", class: "search-btn" 
  .header__box
    - if user_signed_in?
      .header__box__signin.btn
        = link_to "投稿する", new_post_path, class: "signin__btn"
      .header__box__log.btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log__btn"
    - else
      .header__box__signin.btn
        = link_to "新規登録", new_user_registration_path, class: "signin__btn"
      .header__box__log.btn
        = link_to "ログイン", new_user_session_path, class: "log__btn"


  .header__img
    - if user_signed_in?
      .header__img__pic
        %img{:src => "/assets/member_photo_noimage_thumb.png", :class => "img"}/
      .header__img__nickname
        %p.nickname
          =current_user.nickname
    -else