.left
  .left__category
    %ul.left__category__top
      カテゴリー
      %li.left__category__top__list
        = link_to "意匠設計", "#", class:"list"
      %li.left__category__top__list
        = link_to "構造設計", "#", class:"list"
      %li.left__category__top__list
        = link_to "施工管理", "#", class:"list"
      %li.left__category__top__list
        = link_to "設備環境", "#", class:"list"
      %li.left__category__top__list
        = link_to "建築法規", "#", class:"list"
      %li.left__category__top__list
        = link_to "資格", "#", class:"list"
      %li.left__category__top__list
        = link_to "その他", "#", class:"list"